@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --color-primary-dark-blue: hsl(233, 26%, 24%);
  --color-primary-lime-green: hsl(136, 65%, 51%);
  --color-primary-bright-cyan: hsl(192, 70%, 51%);

  --color-neutral-grayish-blue: hsl(233, 8%, 62%);
  --color-neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-lime-green);
  border-radius: 1rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-neutral-grayish-blue);
}
